<%- include('../partials/header'); %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><a href="/attractions"> Go Back</a></p>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-fluid" src="<%= attraction.image %>">
                <div class="caption-full mt-3">
                    <h4 class="card-title"><%= attraction.name %></h4>
                    <p><%= attraction.description %></p>
                    <p>

                        <em>Posted by - <a
                                href="/users/<%= attraction.author.id %>"><%= attraction.author.username %></a></em>
                    </p>
                    <% if(currentUser && attraction.author.id.equals(currentUser._id)){ %>
                    <a class="" href="/attractions/<%= attraction._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
                    <form id="delete-form" action="/attractions/<%= attraction._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-icon"><i class="far fa-trash-alt"></i></button>
                    </form>
                    <% } %>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <a class=" button" href="/attractions/<%= attraction._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <hr>
                <% attraction.comments.forEach((comment) => { %>
                <div class="row">
                    <div class="col-md-12">

                        <Strong><%= comment.author.username %></Strong>
                        <div class="float-right">10 days ago</div>
                        <p>
                            <%=comment.text%>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a href="/attractions/<%= attraction._id %>/comments/<%= comment._id %>/edit" class=""><i
                                class="fas fa-pencil-alt"></i></a>
                        <form id="delete-form"
                            action="/attractions/<%= attraction._id %>/comments/<%= comment._id %>?_method=DELETE"
                            method="POST">
                            <button type="submit" class="btn-icon""><i class=" far fa-trash-alt"></i></button>
                        </form>
                        <% } %>
                    </div>
                </div>

                <% }); %>
            </div>

        </div>
    </div>
</div>





<script>
    function initMap() {
        var lat = <%= attraction.lat %>;
        var lng = <%= attaction.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
        <strong><%= attraction.name %><br />
        <%= attraction.location %></strong>
        <p><%= attraction.description %></p>
      `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=GEOCODER_API_KEY&callback=initMap"></script>




<%- include('../partials/footer'); %>